body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #663399, #000); /* Dark purple to black gradient */
    color: #fff; /* Set text color to white */
}

header {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

main {
    text-align: center;
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Adjust styles for medium screens (tablets) */
    img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for small screens (phones) */
    img {
        width: 100px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

.project img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2, h3 {
    margin: 10px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact {
    margin-top: 20px;
    text-align: center;
}

.contact a {
    color: #4CAF50;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 20px;
    text-align: center;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    color: #4CAF50;
}
